/*
 * CSS file for deposit.html
 */

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Google Sans", sans-serif;
}

h1 {
    font-weight: 400;
    font-style: normal;
    font-size: 80pt;
    color: #0F084B;
    margin-left: 100px;
    margin-right: 100px;
}

#container {
    font-size: 30pt;
    margin: 50px;
}

#return {
    font-size: 30pt;
    position: fixed;   
    bottom: 100px;
    left: 40%;
}

#form {
    font-family: "Google Sans", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 10px;
    font-size: 40pt;
}

#form input {
    flex: 1;
    font-size: 50px;         
    padding: 8px 10px;       
    height: 58px; 
    width: 400px;           
    box-sizing: border-box;  
}

#enter {
    font-size: 30px;
    height: 40px;
    width: 100px; 
    margin: 30px;
}