/*
 * CSS file for index.html (home)
 */

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-family: "Google Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80pt;
    color: #0F084B;
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    font-family: "Google Sans", sans-serif;
    font-size: 30pt;
    margin-top: 40px;
}

#login-form {
    font-family: "Google Sans", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    font-size: 40pt;
}

.form-row label {
    width:500px;           
    font-weight: 500;
}

.form-row input {
    flex: 1;
    font-size: 20px;         
    padding: 8px 10px;       
    height: 40px; 
    width: 350px;           
    box-sizing: border-box;  
}

#buttons-bar {
    margin-top: 15px;
    text-align: center;     
}

#auth-button {
    font-size: 30px;
    height: 40px;
    width: 100px; 
}